a:link, a:visited, a:hover, a:active {
    color: rgb(95, 95, 95);
}

body {
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
    font-family: SF UI Text, Lucida Grande, Helvetica, Arial, sans-serif;
    line-height: 1.25;
}

button {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 143px;
}

input {
    margin-top: 2px;
    margin-bottom: 2px;
}

textarea {
    font-family: SF Mono, Consolas, monospace;
    font-size: 12px;
    line-height: 1.4;
}

.dropzone {
    width: 151px;
    height: 151px;
    line-height: 150px;
    border: 1px #ddd dashed;
    text-align: center;
    margin: 8px;
    float: left;
}

.dropzone img {
    vertical-align: middle;
}

.dropzone-label {
    width: 151px;
    text-align: center;
    margin: 0 8px 8px 8px;
    float: left;
    font-size: 80%;
}

#content {
    margin: 16px;
}

#iterate-stats {
    display: none;
    font-size: 80%;
}

#resize-to {
    width: 60px;
}
