body {
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
}

button {
    margin-top: 4px;
    margin-bottom: 4px;
}
#content {
    margin: 16px;
}

#output-image {
    image-rendering: -webkit-optimize-contrast;
}
