{% extends "base.html" %}
{% block head %}
    <title>Style Transfer</title>
    <script src="app.js"></script>
{% endblock %}
{% block content %}
    <h1>Style Transfer</h1>
    <img src="/output.png" id="output-image"><br>
    Set images:<br>
    <input type="file" id="file-selector" name="file-selector"><br>
    Resize to: <input type="number" id="resize-to" value="400" size="5"> px<br>
    <button onclick="upload('input')">Set input</button>
    <button onclick="upload('content')">Set content</button>
    <button onclick="upload('style')">Set style</button><br>
{% endblock %}
