{% extends "base.html" %}
{% block head %}
    <script src="app.js"></script>
{% endblock %}
{% block content %}
    {{ top }}
    <h1>Style Transfer</h1>
    <img src="/output" id="output-image"><br>
    <button id="start" onclick="start()" disabled>Start</button>

    <div id="pre-start-message">Waiting for worker to start...</div>
    <div id="iterate-stats" class="stats" style="display: none">Iterate <span id="iterate">[]</span>, difference from last iterate: <span id="step-size">[]</span><br>
    <span id="its-per-s">[]</span> iterates/s</div><br>
    <div id="trace" class="stats" style="display: none">Trace: <br><span id="trace-placeholder"></span></div><br>

    Drag and drop to set input images:<br>

    <label for="content-input"><div class="dropzone" id="content-drop"><span class="replace"></span></div></label>
    <input id="content-input" type="file" accept="image/*" style="position: fixed; top: -100em">

    <label for="style-input"><div class="dropzone" id="style-drop"><span class="replace"></span></div></label>
    <input id="style-input" type="file" accept="image/*" style="position: fixed; top: -100em">

    <br style="clear: both;">
    <span class="dropzone-label">Content image</span>
    <span class="dropzone-label">Style image</span>
    <br style="clear: both;">
    <div style="height: 28px; width: 318px">Scale to: <input type="number" id="resize-to" min="1" max="{{ max_size }}" size="4" oninput="enforceSize()"> px <div style="float: right; width: 135px"><input id="reset-image" type="checkbox" style="text-align: right; height: 20px" checked> Reset image</input></div></div><br><br>

    <p style="margin-bottom: 8px;">Parameters:<br></p>
    <textarea id="params" rows="12" cols="70"></textarea><br>
    <button onclick="applyParams()" disabled>Apply params</button>
    <button onclick="applyParams(); reset()" disabled>Apply and reset</button><br>
    <div id="params-error"><br></div><br>

    <a href="#" onclick="restartWorker()">Restart worker</a>
    <a href="#" onclick="showTrace()">Show trace</a>
{% endblock %}
